title {
  text-align: left;
}
body {
  font: 13px sans-serif;
  position: relative;
}
h1 {
  text-align:center;
  color:magenta;
}
h4 {
  position: relative;
  left: 200px;
}
svg {
  /*display: block;*/
  margin: auto;
  padding: 100;
  position: relative;
  left: 200;
}
