html {
    width: auto;
    margin: 20px;
}
body {
  font-family: 'Raleway';
  font-size: 13px;
  margin: 0;
}
h1 {
/*  text-align:center;*/
  color:black;
}
p {
    width: 75%;
}
svg {
  margin: auto;
}
