html {
    width: auto;
    margin: 20px;
}
body {
  font-family: 'Raleway';
  font-size: 13px;
  margin: 0;
}
h1 {
  color:black;
  font-weight: normal;
}
p {
    width: 75%;
}
svg {
  margin: auto;
}
div.tooltip {
  position: absolute;			
  text-align: left;			
  width: 250px;					
  height: 100px;					
  padding: 5px;		
  background: white;	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}
